<tr>
  <th scope="row">
    <div class="avatar">
      <% unless nft_collection.image_url.nil? %>
        <%= image_tag nft_collection.image_url, class: "avatar", alt: "avatar"%>
      <% end %>
    </div>
  </th>
  <td>
    <div class="text-left">
      <p class="collection-name"><%= nft_collection.name %></p>
    </div>
  </td>
  <td>
    <div class="text-center">
      <p><%= nft_collection.floor_price %></p>
    </div>
  </td>
  <td>
    <div class="text-center">
      <p><%= nft_collection.total_supply ? nft_collection.total_supply : "N/A"  %></p>
    </div>
  </td>
  <td>
    <div class="text-center">
      <p><%= nft_collection.num_owners ? nft_collection.num_owners : "N/A"  %></p>
    </div>
  </td>
</tr>
