<div class="my-2 py-2 px-1 mx-auto nft-card" style="border-radius: 12px;">
  <div class="row mx-0" style="height: 75%;" id="top row">
    <div class="col-5">
      <% unless collection.image_url.nil? %>
        <%= image_tag collection.image_url, class: "d-block mx-auto", style: "height: 100px; width: 100px; border-radius: 12px;" %>
      <% end %>
    </div>
    <div class="col-7 d-flex flex-column justify-content-between align-items-center">
      <p class="mb-0 font-weight-bold"><%= collection.name %></p>
      <button type="button" class="btn mb-2 w-100 text-light" style="background-color:darkslateblue; border-radius: 12px; font-size: 1.25rem">Floor: <strong><%=collection.floor_price%></strong> <i class="fab fa-ethereum"></i></button>
    </div>
  </div>
  <div class="row mx-0" style="height: 20%" id="bottom row">
    <div class="col-5">
      <div class='d-flex align-items-center justify-content-around my-2'>
        <a href=<%=collection.twitter_url%> target="_blank"><i class="fab fa-twitter twitter-icon"></i></a>
        <a href="https://etherscan.io/address/<%=collection.contract_id%>" target="_blank"><i class="fas fa-globe-americas etherscan-icon"></i></a>
        <a href=<%=collection.discord_url%> target="_blank"><i class="fab fa-discord discord-icon"></i></a>
      </div>
    </div>
    <div class="col-7 pt-2">
      <div class="d-flex justify-content-between my-auto">
        <button type="button" class="btn text-light p-1" style="width: 47%; background-color: rgb(52,92,159); border-radius: 12px;">
          <p class="m-0 font-weight-bold">Supply: <%= collection.total_supply ? collection.total_supply : "N/A"  %></p>
        </button>
        <button type="button" class="btn text-light p-1" style="width: 47%; background-color: rgb(52,92,159); border-radius: 12px;">
          <p class="m-0 font-weight-bold">Owners: <%= collection.num_owners ? collection.num_owners : "N/A"  %></p>
        </button>
      </div>
    </div>
  </div>
</div>
