<div class="navbar navbar-expand-sm bg-transparent navbar-lewagon pt-0 pb-0">
  <div class="d-flex align-items-center pr-0">
    <%= link_to root_path do %>
      <%= image_tag(asset_path("floorfinal.png"), height: 25, style: "transform: scale(2); margin: 0 24px; padding-bottom: 0px;") %>
    <% end %>
    <%= link_to "Portfolio", portfolio_path, class: "nav-link my-auto text-white mx-4" %>
    <%= link_to "Watchlist", watchlist_path, class: "nav-link my-auto text-white" %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse pr-0" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="mx-4 d-flex" style={color:white}>
        <p class='my-auto'>ETH: </p> <p class="ethprice my-auto" id="info"></p> <p class="my-auto"> USD</p>
      </li>
      <li class="mx-4 d-flex" style={color:white}>
        <p class='my-auto'>Seller Gas: </p> <p class="gasprice my-auto"> <%= @gas_seller %> </p> <p class="my-auto"> USD</p>
      </li>
      <li class="mx-4 d-flex" style={color:white}>
        <p class='my-auto'>Buyer Gas: </p> <p class="gasprice my-auto"> <%= @gas_buyer %> </p> <p class="my-auto"> USD</p>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item mx-4" style="margin: 4px 0;">
          <button type="button" class="btn btn-dark" style="padding: 0;">  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link", data: { turbolinks: false }%></button>
        </li>
      <% else %>
        <li class="nav-item mx-4" style="margin: 4px 0;">
          <button type="button" class="btn btn-dark" style="padding: 0;">  <%= link_to "Connect Wallet", new_user_session_path, class: "nav-link", data: { turbolinks: false }%></button>
        </li>
      <% end %>
    </ul>
  </div>
</div>
