<div class="navbar navbar-expand-sm bg-transparent navbar-lewagon my-4 pt-0 pb-0" style="background-color: #3b3b3b">
  <div class="d-flex justify-content-start flex-grow-1">
    <%= link_to root_path do %>
      <%= image_tag(asset_path("floooor.png"), height: 80) %>
    <% end %>
    <%= link_to "Portfolio", "#", class: "nav-link my-auto text-white" %>
    <%= link_to "Watchlist", watchlist_path, class: "nav-link my-auto text-white" %>
    <%= link_to "Community", "#", class: "nav-link my-auto text-white" %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <h5 class='my-auto'>ETH: </h5> <h5 class="ethprice my-auto" id="info"></h5> <h5 class="my-auto"> USD</h5>
      </li>
      <li class="nav-item active mx-4 d-flex" style={color:white}>
        <h5 class='my-auto'>Seller Gas: </h5> <h5 class="gasprice my-auto"> <%= @gas_seller %> </h5> <h5 class="my-auto"> USD</h5>
      </li>
      <li class="nav-item active mx-4 d-flex" style={color:white}>
        <h5 class='my-auto'>Buyer Gas: </h5> <h5 class="gasprice my-auto"> <%= @gas_buyer %> </h5> <h5 class="my-auto"> USD</h5>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item mx-4">
          <button type="button" class="btn btn-light">  <%= link_to "Connect to Wallet", new_user_session_path, class: "nav-link", data: { turbolinks: false }%></button>
        </li>
      <% end %>
    </ul>
  </div>
</div>
