<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <div class="tab-container mx-1 px-2 pb-2" >
        <ul class="nav nav-pills mb-0" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link text-white px-3">Portfolio</a>
          </li>
        </ul>
      </div>
      <div class="black-card-bg" style="background-color: #3b3b3b; overflow-y: scroll; height: 75vh;">
        <div class="pt-2 w-100">
          <div class="my-2 py-3 px-1 mx-auto" style="background-color:#14142a; height: 150px; width: 350px; border-radius: 12px;">
            <div class="row mx-0 w-100" style="border-radius: 12px; height: 85%;">
              <div class="col-4">
                <%= image_tag @collections.last.image_url, class: "d-block mx-auto", style: "height: 100px; width: 100px; border-radius: 12px; object-fit: fill" %>
              </div>
              <div class="col-8 pl-4 d-flex flex-column justify-content-between">
                <p class="mb-0 font-weight-bold"><%= @collections.last.name %></p>
                <button type="button" class="btn mb-2 w-100 text-light" style="background-color:darkslateblue; border-radius: 12px;">Floor: <strong><%=@collections.last.floor_price%></strong> E</button>
              </div>
            </div>
            <div class="row mx-0 w-100" style="height: 15%">
              <div class="col-4 align-items-center mx-auto">
                <div class='d-flex align-items-center justify-content-around w-100 my-2'>
                  <a href=<%=@collections.first.twitter_url%> target="_blank" class="mx-1"><i class="fab fa-twitter text-grey" style="color:grey"></i></a>
                  <a href="https://etherscan.io/address/<%=@collections.first.contract_id%>" target="_blank" class="mx-1"><i class="fas fa-globe-americas" style="color:grey"></i></a>
                  <a href=<%=@collections.first.discord_url%> target="_blank" class="mx-1"><i class="fab fa-discord" style="color:grey"></i></a>
                </div>
              </div>
              <div class="col-8 pt-2 pl-4">
                <div class="d-flex justify-content-between w-100 my-auto">
                  <button type="button" class="btn mb-2 h-25 text-light" style="width: 47%; font-size: 0.3rem; background-color: rgb(52,92,159); border-radius: 12px;">
                    <p class="m-0">Total Supply: <%= @collections.last.total_supply ? @collections.last.total_supply : "N/A"  %></p>
                  </button>
                  <button type="button" class="btn mb-2 h-25 text-light" style="width: 47%; font-size: 0.3rem; background-color: rgb(52,92,159); border-radius: 12px;">
                    <p class="m-0">Total Supply: <%= @collections.last.num_owners ? @collections.last.num_owners : "N/A"  %></p>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="my-2 py-3 px-1 mx-auto" style="background-color:#14142a; height: 150px; width: 350px; border-radius: 12px;">
            <div class="row mx-0 w-100" style="border-radius: 12px; height: 80%;">
              <div class="col-4">
                <div class=''>
                  <%= image_tag @collections.last.image_url, class: "d-block mx-auto", style: "height: 80px; width: 80px; border-radius: 12px; object-fit: fill" %>
                </div>
              </div>
              <div class="col-8 pl-2 d-flex flex-column justify-content-between">
                <p class="mb-0 font-weight-bold"><%= @collections.last.name %></p>
                <button type="button" class="btn mb-2 w-100 text-light" style="background-color:darkslateblue; border-radius: 12px;">Floor Price: <strong><%=@collections.last.floor_price%></strong> ETH</button>
              </div>
            </div>
            <div class="row mx-0 w-100", style="height: 20%;">
              <div class="col-4 align-items-center mx-auto">
                <div class='d-flex align-items-center justify-content-around w-100 my-2'>
                  <a href=<%=@collections.first.twitter_url%> target="_blank" class="mx-1"><i class="fab fa-twitter text-grey" style="color:grey"></i></a>
                  <a href="https://etherscan.io/address/<%=@collections.first.contract_id%>" target="_blank" class="mx-1"><i class="fas fa-globe-americas" style="color:grey"></i></a>
                  <a href=<%=@collections.first.discord_url%> target="_blank" class="mx-1"><i class="fab fa-discord" style="color:grey"></i></a>
                </div>
              </div>
              <div class="col-8 pt-2 pl-2">
                <div class="d-flex justify-content-between w-100">
                  <button type="button" class="btn mb-2 h-25 text-light" style="width: 47%; font-size: 0.5rem; background-color: rgb(52,92,159); border-radius: 12px;">
                    <p class="m-0">Total Supply: <%= @collections.last.total_supply ? @collections.last.total_supply : "N/A"  %></p>
                  </button>
                  <button type="button" class="btn mb-2 h-25 text-light" style="width: 47%; font-size: 0.5rem; background-color: rgb(52,92,159); border-radius: 12px;">
                    <p class="m-0">Total Supply: <%= @collections.last.num_owners ? @collections.last.num_owners : "N/A"  %></p>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="my-2 py-3 px-1 mx-auto" style="background-color:#14142a; height: 150px; width: 350px; border-radius: 12px;">
            <div class="row mx-0 w-100 h-75" style="border-radius: 12px">
              <div class="col-4">
                <div class=''>
                  <%= image_tag @collections.last.image_url, class: "d-block mx-auto", style: "height: 80px; width: 80px; border-radius: 12px; object-fit: fill" %>
                </div>
              </div>
              <div class="col-8 pl-2 d-flex flex-column justify-content-between">
                <p class="mb-0 font-weight-bold"><%= @collections.last.name %></p>
                <button type="button" class="btn mb-2 w-100 text-light" style="background-color:darkslateblue; border-radius: 12px;">Floor Price: <strong><%=@collections.last.floor_price%></strong> ETH</button>
              </div>
            </div>
            <div class="row mx-0 w-100" style="height: 20%">
              <div class="col-4 align-items-center mx-auto">
                <div class='d-flex align-items-center justify-content-around w-100 my-2'>
                  <a href=<%=@collections.first.twitter_url%> target="_blank" class="mx-1"><i class="fab fa-twitter text-grey" style="color:grey"></i></a>
                  <a href="https://etherscan.io/address/<%=@collections.first.contract_id%>" target="_blank" class="mx-1"><i class="fas fa-globe-americas" style="color:grey"></i></a>
                  <a href=<%=@collections.first.discord_url%> target="_blank" class="mx-1"><i class="fab fa-discord" style="color:grey"></i></a>
                </div>
              </div>
              <div class="col-8 pt-2 pl-2">
                <div class="d-flex justify-content-between w-100">
                  <button type="button" class="btn mb-2 h-25 text-light" style="width: 47%; font-size: 0.5rem; background-color: rgb(52,92,159); border-radius: 12px;">
                    <p class="m-0">Total Supply: <%= @collections.last.total_supply ? @collections.last.total_supply : "N/A"  %></p>
                  </button>
                  <button type="button" class="btn mb-2 h-25 text-light" style="width: 47%; font-size: 0.5rem; background-color: rgb(52,92,159); border-radius: 12px;">
                    <p class="m-0">Total Supply: <%= @collections.last.num_owners ? @collections.last.num_owners : "N/A"  %></p>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
          <%#= render @nfts %>
          <%# @nfts.each do |nft| %>
            <%#= render "shared/nft_individual_card" %></a>
          <%# end %>
      </div>
    </div>
    <div class="col-4">
      <div class="tab-container mx-1 px-2 pb-2" >
        <ul class="nav nav-pills mb-0" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link text-white px-2 active" id="pills-collection-tab" href="#pills-collection"  data-toggle="pill" role="tab" aria-selected="true">Collection Watchlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-2" id="pills-individual-tab" data-toggle="pill" href="#pills-individual" role="tab" aria-selected="false">Individual Watchlist</a>
          </li>
        </ul>
      </div>
      <div class="tab-content" id="pills-tabContent">
        <div class="black-card-bg mx-auto pt-6 tab-pane fade show active" id="pills-collection" style="background-color: #3b3b3b; overflow-y: scroll; height:75vh;">
          <div class="nft-cards pt-3 w-100">
            <% @collections.each do |nft_collection| %>
              <%# <a class="flex-grow-1" href="#"> %>
              <%= render "shared/nft_collection_card", nft_collection: nft_collection %>
              <%#= render partial: "shared/nft_collection_card", locals: { nft_collection: nft_collection} %>
              <%# </a> %>
            <% end %>
          </div>
        </div>
        <div class="black-card-bg mx-auto pt-6 tab-pane fade" id="pills-individual" style="background-color: #3b3b3b; overflow-y: scroll; height:75vh;">
          <div class="nft-cards pt-3 w-100">
            <% @watchlist_nfts.each do |nft| %>
              <%= render "shared/nft_individual_card", nft: nft %></a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div>
        <div class="tab-container mx-1 px-2 pb-2" >
          <ul class="nav nav-pills mb-0" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link text-white px-3">News</a>
            </li>
          </ul>
        </div>
        <div class="black-card-bg" style="background-color: #3b3b3b; overflow-y: scroll; height: 75vh;">
          <div class="nft-cards">
            <% @articles.each do |article| %>
              <%= render "shared/news_card", article: article %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
