<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="container">
  <div class="row mx-auto">
    <div class="col-md-4">
      <div card-content="px-1 mt-1 mb-1">
          <div class="tab-container mx-1 px-2 pb-2" >
            <ul class="nav nav-pills mb-0" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link text-white px-3" href="#"nav-link active-secondary px-1 data-toggle="pill" href="#" role="tab"aria-selected="true">Portfolio</a>
              </li>
            </ul>
          </div>
          <div class="black-card-bg mx-auto pt-6" style="background-color: #3b3b3b;">
            <div class="nft-cards pt-3 px-1 mx-auto" style="width: 18rem;">
              <%#= render @nfts %>
              <%# @nfts.each do |nft| %>
                <a class="flex-grow-1" href="#"> <%= render "shared/nft_collection_card" %></a>
              <%# end %>
            </div>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div card-content="px-1 mt-1 mb-1">
          <div class="tab-container mx-1 px-2 pb-2" >
            <ul class="nav nav-pills mb-0" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link text-white px-2 active px-1" id="pills-collection-tab" href="#pills-collection"  data-toggle="pill" role="tab"aria-selected="true">Collection Watchlist</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white px-2" style="" data-toggle="pill" href="#pills-individual" role="tab" aria-selected="false">Individual Watchlist</a>
              </li>
            </ul>
          </div>
          <div class="tab-content" id="pills-tabContent">
            <div class="black-card-bg mx-auto pt-6 tab-pane fade show active" id="pills-collection" style="background-color: #3b3b3b;">
              <div class="nft-cards pt-3 px-1 mx-auto" style="width: 18rem;">
                <a href="#" class="flex-grow-1"> <%= render "shared/nft_collection_card" %></a>
                <a href="#" class="flex-grow-1"> <%= render "shared/nft_collection_card" %></a>
                <a href="#" class="flex-grow-1"> <%= render "shared/nft_collection_card" %></a>
                <a href="#" class="flex-grow-1"> <%= render "shared/nft_collection_card" %></a>
              </div>
            </div>
            <div class="black-card-bg mx-auto pt-6 tab-pane fade" id="pills-individual"  style="background-color: #3b3b3b;">
              <div class="nft-cards pt-3 px-1 mx-auto" style="width: 18rem;">
                <% @nfts.first(4).each do |nft| %>
                <a href="#" class="flex-grow-1"> <%= render "shared/nft_individual_card", nft: nft %></a>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-md-4">
      <div card-content="px-1 mt-1 mb-1">
          <div class="tab-container mx-1 px-2 pb-2">
            <ul class="nav nav-pills mb-0" id="pills-tab" role="tablist">
              <li class="nav-item">
                <a class="nav-link text-white px-3" href="#" nav-link active-secondary px-1 data-toggle="pill" href="#" class="flex-grow-1" role="tab"aria-selected="true">News</a>
              </li>
            </ul>
          </div>
          <div class="black-card-bg mx-auto pt-6" style="background-color: #3b3b3b;">
            <div class="nft-cards pt-3 px-1 mx-auto" style="width: 18rem;">
              <a href="#" class="flex-grow-1"> <%= render "shared/news_card" %></a>
              <a href="#" class="flex-grow-1"> <%= render "shared/news_card" %></a>
              <a href="#" class="flex-grow-1"> <%= render "shared/news_card" %></a>
              <a href="#" class="flex-grow-1"> <%= render "shared/news_card" %></a>
              <a href="#" class="flex-grow-1"> <%= render "shared/news_card" %></a>
              <a href="#" class="flex-grow-1"> <%= render "shared/news_card" %></a>
            </div>
          </div>
          <blockquote class="twitter-tweet"><p lang="en" dir="ltr">My ape is feeling cold, where can he get a jumper?</p>&mdash; tanztanzfarben (@tanztanzfarben) <a href="https://twitter.com/tanztanzfarben/status/1468475458362642434?ref_src=twsrc%5Etfw">December 8, 2021</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</div>

<div class="tweet-here-pls"></div>

<script>
  console.log('loading twitter!');

  window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
