<div class="container-fluid">
  <%= render 'shared/add_collection_watchlist_modal' %>
  <%= render 'shared/add_nft_watchlist_modal' %>
  <div class="row">
    <div class="col-4">
      <div class="tab-container mx-1 px-2 pb-2" >
        <ul class="nav nav-pills mb-0 justify-content-center" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link text-white px-3 font-weight-bold">Portfolio</a>
          </li>
        </ul>
      </div>
      <div class="glass" style="overflow-y: scroll; height: 75vh;">
        <div class="pt-3 w-100">
          <% @nfts.each do |nft| %>
            <%= render "shared/dashboard_nft_card", nft: nft%></a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="tab-container mx-1 px-2 pb-2" >
        <ul class="nav nav-pills mb-0 justify-content-center" id="pills-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link text-white px-2 active font-weight-bold" id="pills-collection-tab" href="#pills-collection" data-toggle="pill" role="tab" aria-selected="true">Collection Watchlist</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white px-2 font-weight-bold" id="pills-individual-tab" data-toggle="pill" href="#pills-individual" role="tab" aria-selected="false">Individual Watchlist</a>
          </li>
        </ul>
      </div>
      <div class="tab-content" id="pills-tabContent">
        <div class="glass mx-auto pt-6 tab-pane fade show active" id="pills-collection" style="overflow-y: scroll; height:75vh;">
          <div class="pt-3">
            <a href="" data-toggle="modal" data-target="#collectionModal">
              <div class="nft-card my-2 py-2 px-1 mx-auto" style='background-color:#d78b00;height:50px' id='add-watchlist-collection-button'>
                <div id="add-collection-to-watchlist" class="d-flex h-100 justify-content-center align-items-center">
                  <i class="far fa-plus-square d-block align-middle text-center text-white mr-3" style="font-size:2rem;"></i>
                  <p class="mb-0 text-white font-weight-bold">Add Collection to watchlist</p>
                </div>
              </div>
            </a>
            <% @collections.each do |collection| %>
              <%= render 'shared/dashboard_collection_card', collection: collection%>
            <% end %>
          </div>
        </div>
        <div class="glass mx-auto pt-6 tab-pane fade" id="pills-individual" style="overflow-y: scroll; height:75vh;">
          <div class="pt-3 w-100">
            <a href="" data-toggle="modal" data-target="#nftModal">
              <div class="nft-card my-2 py-2 px-1 mx-auto" style='background-color:#d78b00;height:50px;' id='add-watchlist-collection-button'>
                <div id="add-collection-to-watchlist" class="d-flex h-100 justify-content-center align-items-center">
                  <i class="far fa-plus-square d-block align-middle text-center text-white mr-3" style="font-size:2rem;"></i>
                  <p class="mb-0 text-white font-weight-bold">Add NFT to watchlist</p>
                </div>
              </div>
            </a>
            <% @watchlist_nfts.each do |nft| %>
              <%= render "shared/dashboard_nft_card", nft: nft %></a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div>
        <div class="tab-container mx-1 px-2 pb-2" >
          <ul class="nav nav-pills mb-0 justify-content-center" id="pills-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link text-white px-3 font-weight-bold">News</a>
            </li>
          </ul>
        </div>
        <div class="glass" style="overflow-y: scroll; height: 75vh;">
          <div>
            <% @articles.each do |article| %>
              <%= render "shared/news_card", article: article %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
