<div class="banner expand-sm" style="background-image: url(<%=asset_path("floorbanner.jpeg")%>)">
  <div class="container">
    <h1><strong>!Floor</strong></h1>
    <p> <strong>Your one-stop NFT Portfolio manager</strong></p>
    <%= link_to 'Sign Up', new_user_registration_path, class:"btn btn-success" %>
  </div>
</div>

<div class="d-flex flex-column justify-content-center align-items-center" style="height:50vh;">
  <div class="container">

    <!--Carousel Wrapper-->
    <div id="carousel-with-slides" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Controls-->
    <div class="text-right mb-3">
      <div>
        <a class="btn btn-outline-secondary mx-1 prev" href="#carousel-with-slides" data-slide="prev" title="Previous">
          <i class="fa fa-lg fa-chevron-left"></i>
        </a>
        <a class="btn btn-outline-secondary mx-1 next" href="#carousel-with-slides" data-slide="next" title="Next">
          <i class="fa fa-lg fa-chevron-right"></i>
        </a>
      </div>
    </div>

    <!--/.Controls-->

    <!--Slides-->
      <div class="carousel-inner mb-3" role="listbox">
    <!--First slide
    <% @collections.each do |nft_collection| %>
      <%= render "shared/collection_table", nft_collection: nft_collection %>
    <% end %>
    -->
        <div class="carousel-item active">
            <div class="col-md-3" style="float:left">
              <div class="card mb-2" style="overflow:hidden; border:0; height:300px;">
                  <% @collections.sample(4).each do |nft_collection| %>
      <%= render 'shared/dashboard_collection_card', nft_collection: nft_collection %>
      <!--
                  <div class="card-body">
                      <h5 class="card-title text-black"><strong><%= trail.name %></strong></h5>
                      <p class="text-black"><%= trail.location %></p>
                      <div class="text-black d-flex justify-content-between">
                        <p class="text-black"><%= trail.route_distance %></p>
                        <p class="text-black">Est. <%= trail.time_needed %></p>
                      </div>
                  </div>

                  -->
              </div>
            </div>
          <% end  %>
        </div>
    <!--/.First slide-->

    <!--Second slide-->
        <div class="carousel-item">
          <% nft_collection.sample(4).each do |nft_collection| %>
            <div class="col-md-3" style="float:left">
      <!--
              <div class="card mb-2" style="overflow:hidden; border:0; height:300px;">
              <% @collections.each do |nft_collection| %>
      <%= render 'shared/dashboard_collection_card', nft_collection: nft_collection %>
                <div class="card-body">
                <h5 class="card-title text-black"><strong><%= trail.name %></strong></h5>
                <p class="text-black"><%= trail.location %></p>
                </div>
              -->
              </div>
            </div>
          <% end %>
        </div>
    <!--/.Second slide-->
      </div>
    <!--/.Slides-->
    <!--/.Carousel Wrapper-->
    </div>
  </div>
</div>
