<div class="devise">
  <h2>Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.input :wallet_id,
                  required: true,
                  readonly: true,
                  autofocus: true %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

    <div class="form-actions">
      <%= f.button :submit, "Log in" %>
    </div>
  <% end %>
</div>


<%= render "devise/shared/links" %>
